<%-include("header")-%>
<div class="box">
  <h1 id="heading">About Us</h1>
  <p>We are here to provide You a day to day checklist .So use it ...set up your daily targets and push your limitsGo Ahead!!</p>
</div>
<%-include("footer")-%>
